extends layout

block content
  h1= title

    - let magpieid = toShow._id
    - let magpiename = toShow.name
    - let magpiecolor = toShow.color
    - let magpieweight = toShow.weight
    div
      div.row
        div(class='magpieAttr mr-3') magpie ID is:
        div #{magpieid}
      div.row
        div(class='magpieAttr mr-3') magpie Name is:
        div #{magpiename}
      div.row
        div(class='magpieAttr mr-3') magpie Color is:
        div #{magpiecolor}
      div.row
        div(class='magpieAttr mr-3') magpie Weight is:
        div #{magpieweight}